.App{
    background-color: #01110A;
    width: 100%;
    min-height: 100vh;

    color: #003E1F;

    display: flex;
    align-items: center;
    justify-content: center;

}

.RecipeContainer{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-weight: bold;
}

.RecipeList{
    width: 20%;    
    background-color: #D5F2E3;
}

.Recipe{
    width: 40%;
    background-color: #D5F2E3;
    text-indent: 4em;
}